!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title Welcome
  body
    #content
      h1 Welcome Tweet Convo!
      p#message Attempting to connect to the server over websockets or Socket.IO fallback transports...

      form#tweet(onsubmit='return false')
        h3 Input a tweet Id
        #tweets
        input(id='tweetId', type='text', autocomplete='off')
        input(id='sendButton', type='submit', value='Send')
